@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.header {
    height: 43vh;
    background-image: linear-gradient(to right, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

@media screen and (min-width:768px) {
    .header {
        height: 50vh;
        background-image: linear-gradient(to bottom, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
        display: flex;
        flex-direction: column;
        padding: 20px 40px 20px 40px;
    }
}

/*nav bar */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo-image {
    width: 50px;
    height: 50px;
    align-self: center;
    margin-right: 16px;
}

.logo-heading {
    color: #ffffff;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    align-self: center;
}

.nav-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-items {
    display: none;
}

.nav-item {
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto";
    margin-right: 30px;
}

.href-nav {
    text-decoration: none;
}

@media screen and (min-width:768px) {
    .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }
}

.search-image {
    width: 30px;
    height: 40px;
    align-self: center;
}

/*header content*/
.header-heading {
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .header-heading {
        font-size: 32px;
    }
}

.header-paragraph {
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
}

@media screen and (min-width:768px) {
    .header-paragraph {
        font-size: 22px;
    }
}

/*search bar*/
.search-bar {
    display: none;
}

@media screen and (min-width:768px) {
    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }

    .search-bar-item {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 15px;
        margin-right: 20px;
        width: 400px;
        border: 0px solid;
    }

    .search-bar-button {
        color: #ffffff;
        background-color: #3b82f6;
        width: 100px;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        border: 0px solid;
    }
}

/*footer*/
.footer {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px 40px;
    justify-content: space-around;
}

@media screen and (min-width:768px) {
    .footer {
        display: flex;
        flex-direction: row;
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.item-img {
    width: 50px;
    height: 50px;
}

.item-text {
    text-align: center;
    color: #0f172a;
    font-size: 18px;
}
